body{
  background-color: #A7FFEB;

}

.appName{
  color: #000;
  margin-top: 150px;
  margin-left: 50px;
  position: relative;
  float: left;
  font-family: Garamond;
  line-height: 24px;
}

.appName #screenShot{
  width: 30%;
  height: 30%;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  float: left;
}

.appName #gif_image{
  width: 80%;
  height: 10%;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.appName .description{
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.features{
  padding: 20px;
  margin-left: 30px;
}

.features ul{
  list-style-type: disc;
  list-style-position: inside;
  color: black;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}
